server {
    listen 9201;
    ssl on;
    server_name {{hostname}}.{{domain}};
    ssl_certificate /etc/nginx/ssl/{{hostname}}.{{domain}}.crt;
    ssl_certificate_key /etc/nginx/ssl/{{hostname}}.{{domain}}.key;
    ssl_protocols TLSv1.2 TLSv1.1 TLSv1;
    ssl_prefer_server_ciphers on;
    ssl_ciphers "EECDH+ECDSA+AESGCM EECDH+aRSA+AESGCM EECDH+ECDSA+SHA384 EECDH+ECDSA+SHA256 EECDH+aRSA+SHA384 EECDH+aRSA+SHA256 EECDH+aRSA+RC4 EECDH EDH+aRSA !RC4 !aNULL !eNULL !LOW !3DES !MD5 !EXP !PSK !SRP !DSS";

    ssl_dhparam /etc/nginx/ssl/dhparam.pem;

    set $upstream_endpoint 127.0.0.1:9200;

    # generate pass hash: htpasswd -c /etc/nginx/htpasswd.elasticsearch username1
    auth_basic "Protected";
    auth_basic_user_file htpasswd.elasticsearch;

    if ($request_method !~ "GET") {
        return 403;
        break;
    }

    location ~ ^/(_nodes|_cluster|_shutdown) {
        return 403;
    }

    location ~ {
        proxy_pass http://$upstream_endpoint;
        proxy_http_version 1.1;
    }

}
